/*

  Base
  +

*/

body {
  margin: 0%;
  padding: 0%;
  width: 100vw;
  background: $primary-color;
  color: $white;
  max-width: 100vw;
  overflow-x: hidden;
  align-items: center;
  font-family: $poppins;
}