/*

  Components
  +

*/

#map {
  //position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapbox-map{
  min-height: 500px !important;
}




.mapboxgl-ctrl-geocoder ul > li > a{
  color: $black !important;
  width: 100%;
}