/*

  Responsive
  +

*/

@media (max-width: 800px) {
  .logo {
    width: 90vw;
    padding: 4vh 5vw;
    height: 25vh;
    text-align: center;
    position: relative;
  }

  .display {
    width: 90vw;
    padding: 4vh 5vw;
    height: auto;
    display: inline-block;
    padding-left: 5vw;
  }

  .logo-icon {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
    margin: 0px auto !important;
  }

  .work {
    margin: 0px;
  }

  .portal_items {
    margin-left: 0;
    /* remove neg margin to align w/ header */
  }

  .portal_items a {
    width: 100%;
  }

  .portal_items section {
    width: 88%;
  }

  #blogs {
    columns: 1;
  }

  #blogs section {
    width: 98%;
  }

  #blog_section {
    margin: 0px;
  }

  #blog-display {
    width: 90vw;
    margin: 0px 5vw;
    text-align: left;
    margin-top: 0vh;
    z-index: 1;
  }

  #blog_title {
    @include fontSize(32px);
  }

  #blog_sub_title {
    @include fontSize(24px);
    margin-top: -1vh;
  }

  #profile_blog {
    width: 90vw;
    margin: 0px 5vw;
    margin-top: 36vh;
    text-align: left;
    z-index: 1;
  }

  #profile_img_blog {
    width: 65px;
    height: 65px;
  }

  .go_back {
    position: relative;
    color: $white;
    @include fontSize(26px);
    margin-left: 5vw;
    top: 5vh;
  }

  #blog img {
    margin: 1vh 0px !important;
  }

  #blog p {
    margin: 2vh 0px;
  }

  .footer{
    padding: 4vh 0px 2vh;
  }
}

@media (max-width: 730px) {
  .portal-items a{
    width: calc(100% - 15px);
  }

  .portal-items section{
    margin: 1vh 0px 2vh;
  }
}